{% extends 'base.html' %}

{% block title %}
	BZFS Instances
{% endblock %}

{% block header %}
	<h1>BZFS Instances</h1>
{% endblock %}

{% block body %}
	{% if flash.launch_error %}
	<div class="alert alert-block alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Error!</h4>
		<pre>{{flash.launch_error}}</pre>
	</div>
	{% endif %}
	
	{% if flash.command_line %}
	<div class="alert alert-block alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Command line:</h4>
		<pre>{{flash.command_line}}</pre>
	</div>
	{% endif %}

	{% if flash.pid_error %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Error!</strong> {{flash.pid_error}}
	</div>
	{% endif %}

	{% if flash.pid_success %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Success!</strong> {{flash.pid_success}}
	</div>
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th>Port</th>
				<th>Scores</th>
			</tr>
		</thead>
		<tbody>
			{% for proc in procs %}
				<tr>
					<td>{{proc.port}}</td>
					<td><pre>{{proc.scores}}</pre></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}